@theme {
    --active-color-primary: var(--color-primary, var(--color-blue-500));
    --active-color-secondary: var(--color-secondary, var(--color-gray-500));
    --active-color-success: var(--color-success, var(--color-green-500));
    --active-color-danger: var(--color-danger, var(--color-red-700));
    --active-color-warning: var(--color-warning, var(--color-amber-500));
    --active-color-info: var(--color-info, var(--color-teal-400));
    --active-color-light: var(--color-light, var(--color-gray-100));
    --active-color-dark: var(--color-dark, var(--color-gray-800));
}