@import "tailwindcss";

@theme {    
    --btn-display: inline-flex;
    --btn-justify: center;
    --btn-align: center;
    --btn-gap: 0.25rem;
    --btn-padding-y: 0.375rem;
    --btn-padding-x: 0.375rem;
    --btn-font-size: 1rem;
    --btn-font-family: inherit;
    --btn-font-weight: normal;
    --btn-line-height: 1.5;
    --btn-color: inherit;
    --btn-text-align: center;
    --btn-text-decoration: none;
    --btn-white-space: nowrap;
    --btn-vertical-align: middle;
    --btn-cursor: pointer;
    --btn-user-select: none;
    --btn-bg: transparent;
    --btn-border: 1px solid transparent;
    --btn-border-radius: 0.25rem;
    --btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    --btn-outline: none;

    --btn-focus-outline: 0;

    --btn-disabled-pointer-events: none;
    --btn-disabled-opacity: 0.65;
    --btn-disabled-box-shadow: none;

    --btn-link-hover-textDecoration: underline;
}

@utility btn {
    display: var(--btn-display);
    justify-content: var(--btn-justify);
    align-items: var(--btn-align);
    gap: var(--btn-gap);
    padding: calc(var(--btn-font-size) * 1.5 / 4) calc(var(--btn-font-size, [length]) * 1.5 / 2);
    font-size: var(--btn-font-size);
    font-family: var(--btn-font-family);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    color: var(--btn-color);
    text-align: var(--btn-text-align);
    text-decoration: var(--btn-text-decoration);
    white-space: var(--btn-white-space);
    vertical-align: var(--btn-vertical-align);
    cursor: var(--btn-cursor);
    user-select: var(--btn-user-select);
    background-color: var(--btn-bg);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    transition: var(--btn-transition);
    outline: var(--btn-outline);

    &:focus,
    &.focus {
        outline: var(--btn-focus-outline);
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: var(--btn-disabled-pointer-events);
        opacity: var(--btn-disabled-opacity);
        box-shadow: var(--btn-disabled-box-shadow);
    }
}

@utility btn-inline {
    display: inline-flex;
    width: auto;
}

@utility btn-block {
    display: flex;
    width: 100%;
}

@utility btn-* {
    background-color: --value(--btn-*, --color-*, [color]);
    border-color: --value(--btn-*, --color-*, [color]);

    padding: calc(--value(--btn-font-size-*, [length]) * 1.5 / 4) calc(--value(--btn-font-size-*, [length]) * 1.5 / 2);
    padding: calc(--spacing(--value(number)) * .75 / 2) calc(--spacing(--value(number)) * .75);
    font-size: --value(--btn-font-size-*, [length]);
    font-size: --spacing(--value(number));
    border-radius: calc(--value(--btn-font-size-*, [length]) / 4);
    border-radius: calc(--spacing(--value(number)) / 4);

    color: --value(--text-for-*, --btn-*-text);
    
    &:hover {
        background-color: color-mix(in oklch, --value(--btn-*, --color-*) 90%, black);
        border-color: color-mix(in oklch, --value(--btn-*, --color-*) 90%, black);
    }

    &:focus {
        box-shadow: 0 0 0 .2rem --alpha(--value(--btn-*, --color-*) / 50%);
    }

    &:active {
        background-color: color-mix(in oklch, --value(--btn-*, --color-*) 95%, black);
        border-color: color-mix(in oklch, --value(--btn-*, --color-*) 90%, black);
    }
}

@utility btn-outline-* {
    border-color: --value(--btn-*, --color-*, [color]); 
    background-color: transparent;

    color: --value(--btn-outline-*, --btn-*, --color-*, [color]); 

    &:hover {
        color: --value(--text-for-*, --btn-*-text);
        background-color: --value(--btn-*, --color-*, [color]);
    }

    &:focus {
        box-shadow: 0 0 0 .2rem --alpha(--value(--btn-*, --color-*) / 50%);
    }

    &:active {
        outline-color: color-mix(in oklch, --value(--btn-*, --color-*) 95%, black);
    }
}