@import "tailwindcss";
@import "./sizes.css";

@utility activity-indicator-* {
    font-size: --value(--activity-indicator-size-*, [length]);
    font-size: --spacing(--value(number));
    color: --value(--color-*, [color]);
}