@import "tailwindcss";

@theme {
    /* Modal */
    --modal-position: fixed;
    --modal-display: flex;
    --modal-justify-content: center;
    --modal-align-items: center;
    --modal-visibility: hidden;
    --modal-top: 0;
    --modal-left: 0;
    --modal-width: 100%;
    --modal-height: 100%;
    --modal-padding: 1rem;
    --modal-z-index: 1000;

    --modal-show-visibility: visible;
    --modal-show-transition: transform .3s ease-out, opacity .3s ease-out;
    --modal-show-transform: translate(1, calc(-100% - 50px));

    --modal-max-width: 100%;    
    
    /* Modal Backdrop */
    --modal-backdrop-position: absolute;
    --modal-backdrop-top: 0;
    --modal-backdrop-left: 0;
    --modal-backdrop-z-index: 1;
    --modal-backdrop-width: 100%;
    --modal-backdrop-height: 100%;
    --modal-backdrop-background-color: color-mix(in oklch, var(--color-neutral-950, oklch(55.3% 0.013 58.071)) 75%, transparent);
    --modal-backdrop-dark-background-color: color-mix(in oklch, var(--color-neutral-950, oklch(26.8% 0.007 34.298)) 75%, transparent);

    /* Modal Container */
    --modal-container-position: relative;
    --modal-container-display: flex;
    --modal-container-flex-direction: column;
    --modal-container-z-index: 2;
    --modal-container-width: 100%;
    --modal-container-max-width: var(--modal-size-md);
    --modal-container-max-height: 100vh;
    --modal-container-align-items: center;
    --modal-container-justify-content: center;
    --modal-container-box-shadow: var(--shadow-lg, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1));

    /* Modal Close Button */
    --modal-close-button-position: absolute;
    --modal-close-button-cursor: pointer;
    --modal-close-button-top: 0.75rem;
    --modal-close-button-right: 0.75rem;
    --modal-close-button-color: var(--color-neutral-500, oklch(55.3% 0.013 58.071));
    --modal-close-button-hover-color: var(--color-neutral-600, oklch(44.4% 0.011 73.639));
    --modal-close-button-active-color: var(--color-neutral-700, oklch(37.4% 0.01 67.558));

    /* Modal Header */
    --modal-header-max-height: calc(100vh - (var(--btn-font-size) + var(--btn-padding-y) * 2) - 3rem);
    --modal-header-width: 100%;
    --modal-header-border-top-left-radius: 0.5rem;
    --modal-header-border-top-right-radius: 0.5rem;
    --modal-header-padding: 0.75rem 1rem; /* padding: top/bottom left/right */
    --modal-header-background-color: var(--color-white, oklch(100% 0.00011 271.152));
    --modal-header-color: var(--color-neutral-900, oklch(21.6% 0.006 56.043));
    --modal-header-dark-background-color: var(--color-neutral-800, oklch(26.8% 0.007 34.298));
    --modal-header-dark-color: var(--color-neutral-100, oklch(97% 0.001 106.424));
    --modal-header-display: flex;
    --modal-header-flex-direction: column;
    --modal-header-resize-flex-direction: row;

    /* Modal Header Icon */
    --modal-header-icon-margin-inline: auto;
    --modal-header-icon-display: flex;
    --modal-header-icon-height: 3rem;
    --modal-header-icon-width: 3rem;
    --modal-header-icon-align-items: center;
    --modal-header-icon-justify-content: center;
    --modal-header-icon-border-radius: 100%;
    --modal-header-icon-background-color: var(--color-blue-100, oklch(93.2% 0.032 255.585));
    --modal-header-icon-color: var(--color-blue-800, oklch(42.4% 0.199 265.638));
    --modal-header-icon-min-width-margin-right: 1rem;
    --modal-header-icon-min-width-height: 2.5rem;
    --modal-header-icon-min-width-width: 2.5rem;

    /* Modal Header Text */
    --modal-header-text-display: flex;
    --modal-header-text-flex-direction: column;
    --modal-header-text-height: 0px;
    --modal-header-text-margin-top: 0.75rem;
    --modal-header-text-text-align: center;
    --modal-header-text-flex: 1;
    --modal-header-text-resize-height: auto;
    --modal-header-text-resize-margin-top: 0rem;
    --modal-header-text-resize-text-align: left;
    
    /* Modal Title */
    --modal-title-font-weight: 600;

    /* Modal Body */
    --modal-body-max-height: calc(var(--modal-container-max-width) / 2);
    --modal-body-height: 100%;
    --modal-body-overflow-y: auto;
    --modal-body-margin-top: 0.5rem;

    /* Modal Footer */
    --modal-footer-width: 100%;
    --modal-footer-padding: 0.75rem 1rem;
    --modal-footer-background-color: var(--color-neutral-50, oklch(98.5% 0.001 106.423));
    --modal-footer-dark-background-color: var(--color-neutral-900, oklch(21.6% 0.006 56.043));
    --modal-footer-display: flex;
    --modal-footer-gap: 0.5rem;
    --modal-footer-border-bottom-left-radius: 0.5rem;
    --modal-footer-border-bottom-right-radius: 0.5rem;
    --modal-footer-flex-direction: row;
    --modal-footer-btn-flex: 1;
    --modal-footer-justify-content: flex-end;
    --modal-footer-min-width-btn-flex: 0 0 auto;

    /* Modal Center */
    --modal-center-header-flex-direction: column;
    --modal-center-header-align-items: center;
    --modal-center-header-icon-margin-inline: auto;
    --modal-center-header-text-text-align: center;
    --modal-center-header-text-margin-top: 0.75rem;
    --modal-center-footer-flex-direction: row;
    --modal-center-footer-justify-content: center;
    --modal-center-footer-btn-flex: 1;
}

@utility modal {
    position: var(--modal-position);
    top: var(--modal-top);
    left: var(--modal-left);
    width: var(--modal-width);
    height: var(--modal-height);
    padding: var(--modal-padding);
    display: var(--modal-display);
    justify-content: var(--modal-justify-content);
    align-items: var(--modal-align-items);
    visibility: var(--modal-visibility);
    z-index: var(--modal-z-index);

    &.show {
        visibility: var(--modal-show-visibility);
        transition: var(--modal-show-transition);
        transform: var(--modal-show-transform);
    } 

    .modal-backdrop {
        position: var(--modal-backdrop-position);
        top: var(--modal-backdrop-top);
        left: var(--modal-backdrop-left);
        z-index: var(--modal-backdrop-z-index);
        width: var(--modal-backdrop-width);
        height: var(--modal-backdrop-height);
        background-color: var(--modal-backdrop-background-color);

        @variant dark {
            background-color: var(--modal-backdrop-dark-background-color);
        }
    }
    
    .modal-container {
        max-height: var(--modal-container-max-height);
        position: var(--modal-container-position);
        display: var(--modal-container-display);
        z-index: var(--modal-container-z-index);
        flex-direction: var(--modal-container-flex-direction);
        width: var(--modal-container-width);
        max-width: var(--modal-container-max-width);
        align-items: var(--modal-container-align-items);
        justify-content: var(--modal-container-justify-content);
        box-shadow: var(--modal-container-box-shadow);
    }

    .modal-close-button {
        position: var(--modal-close-button-position);
        top: var(--modal-close-button-top);
        right: var(--modal-close-button-right);
        color: var(--modal-close-button-color);
        cursor: var(--modal-close-button-cursor);

        &:hover,
        &.hover {
            color: var(--modal-close-button-hover-color);
        }

        &:active {
            color: var(--modal-close-button-active-color);
        }
    }

    .modal-header {   
        flex: 1 1 auto; 
        
        max-height: var(--modal-header-max-height);
        width: var(--modal-header-width);
        border-top-left-radius: var(--modal-header-border-top-left-radius);
        border-top-right-radius: var(--modal-header-border-top-right-radius);
        padding: var(--modal-header-padding);
        background-color: var(--modal-header-background-color); 
        color: var(--modal-header-color);
        display: var(--modal-header-display);
        flex-direction: var( --modal-header-flex-direction);
        
        @variant dark {
            border-top: 1px solid var(--color-neutral-700);
            background-color: var(--modal-header-dark-background-color);
            color: var(--modal-header-dark-color);
        }

        @media (min-width: 640px) {
            display: var(--modal-header-display);
            flex-direction: var(--modal-header-resize-flex-direction);
        } 

        .modal-header-icon {
            margin-inline: var(--modal-header-icon-margin-inline);
            display: var(--modal-header-icon-display);
            height: var(--modal-header-icon-height);
            width: var(--modal-header-icon-width);
            align-items: var(--modal-header-icon-align-items);
            justify-content: var(--modal-header-icon-justify-content);
            border-radius: var(--modal-header-icon-border-radius);
            background-color: var(--modal-header-icon-background-color);
            color: var(--modal-header-icon-color);
            flex-shrink: 0;

            @media (min-width: 640px) {
                margin-right: var(--modal-header-icon-min-width-margin-right);
                height: var(--modal-header-icon-min-width-height);
                width: var(--modal-header-icon-min-width-width);
            }
        }

        .modal-header-text { 
            display: var(--modal-header-text-display);
            flex-direction: var(--modal-header-text-flex-direction);
            height: var(--modal-header-text-height);
            margin-top: var(--modal-header-text-margin-top);
            text-align: var(--modal-header-text-text-align);
            flex: var(--modal-header-text-flex);
        
            /* get rid of these? dont seem to affect anything */
            /* Add these properties to fix the overflow issue */
            width: 100%;
            max-width: 100%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            min-width: 0; /* Important for flex items to shrink */
        
            @media (min-width: 640px) { 
                height: var(--modal-header-text-resize-height);
                margin-top: var(--modal-header-text-resize-margin-top);
                text-align: var(--modal-header-text-resize-text-align);
            }

            >.modal-title {
                font-weight: var(--modal-title-font-weight);
            }

            >.modal-body {
                margin-top: var(--modal-body-margin-top);
                height: var(--modal-body-height);
                max-height: var(--modal-body-max-height);
                overflow-y: var(--modal-body-overflow-y);
            }
        }
    }

    .modal-footer {
        width: var(--modal-footer-width);
        padding: var(--modal-footer-padding);
        background-color: var(--modal-footer-background-color);
        display: var(--modal-footer-display);
        gap: var(--modal-footer-gap);
        border-bottom-left-radius: var(--modal-footer-border-bottom-left-radius);
        border-bottom-right-radius: var(--modal-footer-border-bottom-right-radius);
        flex-direction: var(--modal-footer-flex-direction);
        justify-content: var(--modal-footer-justify-content);
    
        @variant dark {
            background-color: var(--modal-footer-dark-background-color);
        }
        
        button.btn:last-child:not([class*='btn-']) {
            @apply btn-primary;
        }
        
        button.btn {
            flex: var(--modal-footer-btn-flex); 
        }
    
        @media (min-width: 640px) {
            button.btn {
                flex: var(--modal-footer-min-width-btn-flex);
            }
        }
    }
}

@utility modal-* {
    .modal-container {
        max-width: --value(--modal-size-*, [length], [percentage]);
        max-width: calc(--spacing(--value(integer)));
    }    
    
    .modal-body {
        max-height: calc(var(--modal-max-width) / 2);
    }

    .modal-header {
        .modal-header-icon {
            background-color: --value(--icon-bg-*, --color-*, [color]);
            color: --value(--icon-color-*, --color-*, [color]);

            background-color: color-mix(in oklch, --value(--color-*, [color]) 10%, transparent);
            color: --value(--color-*, [color]);
        }
    }

    .modal-footer {
        /* Automatically style confirm button based on modal color, but does not allow for user
        to specify color and then override it */
        button.btn:last-child:not([class*='btn-']) {
            background-color: --value(--btn-*, --color-*, [color]);
            border-color: --value(--btn-*, --color-*, [color]);
            color: --value(--text-for-*, --btn-*-text);

            &:hover {
                background-color: color-mix(in oklch, --value(--btn-*, --color-*) 90%, black);
            }   

            &:focus {
                box-shadow: 0 0 0 .2rem --alpha(--value(--btn-*, --color-*) / 50%);
            }

            &:active {
                background-color: color-mix(in oklch, --value(--btn-*, --color-*) 95%, black);
            }
        }
    }
}

@utility modal-w-* {
    --modal-max-width: --value(--modal-size-*, [length], [percentage]);
    --modal-max-width: calc(--spacing(--value(integer)));

    .modal-container {
        max-width: var(--modal-max-width);
    }
}

@utility modal-h-* {
    --modal-max-height: --value(--modal-size-*, [length], [percentage]);
    --modal-max-height: calc(--spacing(--value(integer)));

    .modal-container {
        height: var(--modal-max-height);
    }
}

@utility modal-icon-* {
    .modal-header {
        .modal-header-icon {
            background-color: --value(--icon-bg-*, --color-*, [color]);
            color: --value(--icon-color-*, --color-*, [color]);

            background-color: color-mix(in oklch, --value(--color-*, [color]) 10%, transparent);
            color: --value(--color-*, [color]);
        }
    }
}

@utility modal-screen {
    @apply modal-center;
    
    .modal-container {
        max-width: var(--modal-container-width);
        height: var(--modal-container-max-height);
    }

    .modal-header > .modal-header-text > .modal-body  {
        max-height: calc(100vh - 12rem);
    }
    
}

@utility modal-center {
    .modal-header {
        display: var(--modal-header-display);
        flex-direction: var( --modal-header-flex-direction);
    
        .modal-header-icon {
            margin-inline: var(--modal-center-header-icon-margin-inline);
        }

        .modal-header-text {
            text-align: var(--modal-header-text-text-align);
            margin-top: var(--modal-header-text-margin-top);
        }
    }

    .modal-footer {
        flex-direction: var(--modal-center-footer-flex-direction);
        justify-content: var(--modal-center-footer-justify-content);
        
        button.btn {
            flex: var(--modal-center-footer-btn-flex);
        }

        &:has(:only-child) {
            flex-direction: column;
        }
    }

    
}