@import "tailwindcss";
@import "./index.css";

@source "../activity-indicator/src/**/*.vue";

@variant dark {
    body {
        @apply text-white;
    }
}

@custom-variant dark (&:where(.dark, .dark *));