@import "tailwindcss";

@theme {
    /* Slide Deck */
    --slide-deck-height: auto;
    --slide-deck-position: relative;
    --slide-deck-overflow: hidden;

    /* Slide Deck Content */
    --slide-deck-content-display: flex;
    --slide-deck-content-flex-wrap: nowrap;
    --slide-deck-content-transition-property: max-height;
    --slide-deck-content-transition-duration: 250ms;
    --slide-deck-content-transition-timing-function: ease-in-out;
    --slide-deck-content-forward-flex-direction: row;
    --slide-deck-content-backward-flex-direction: row-reverse;

    /* Slide Deck Slide */
    --slide-deck-slide-width: 100%;
    --slide-deck-slide-flex-shrink: 0;
    --slide-deck-slide-align-self: flex-start;


    /* Slide Animations */
    --slide-transition-duration: 250ms;
    --slide-transition-timing-function: ease-in-out;
    --slide-transform-forward: translateX(-100%);
    --slide-transform-backward: translateX(100%);
}

@utility slide-deck {
    height: var(--slide-deck-height);
    position: var(--slide-deck-position);

    &.sliding {
        overflow: var(--slide-deck-overflow);
    }

    .slide-deck-content {
        display: var(--slide-deck-content-display);
        flex-wrap: var(--slide-deck-content-flex-wrap);
        transition-property: var(--slide-deck-content-transition-property);
        transition-duration: var(--slide-deck-content-transition-duration);
        transition-timing-function: var(--slide-deck-content-transition-timing-function);

        &.forward {
            flex-direction: var(--slide-deck-content-forward-flex-direction);
        }

        &.backward {
            flex-direction: var(--slide-deck-content-backward-flex-direction);
        }
    }

    .slide-deck-slide {
        width: var(--slide-deck-slide-width);
        flex-shrink: var(--slide-deck-slide-flex-shrink);
        align-self: var(--slide-deck-slide-align-self);
    }

    .slide-forward-leave-active,
    .slide-forward-enter-active,
    .slide-backward-leave-active,
    .slide-backward-enter-active {
        transition: all var(--slide-transition-duration) var(--slide-transition-timing-function);
    }

    .slide-forward-enter-to,
    .slide-forward-leave-to {
        transform: var(--slide-transform-forward);
    }

    .slide-backward-enter-to,
    .slide-backward-leave-to {
        transform: var(--slide-transform-backward);
    }
}