@theme {
    /* banner variables */
    --banner-display: flex;
    --banner-align-items: center;
    --banner-gap: 0.75rem;
    --banner-padding: 1;
    --banner-border-radius: 0.5rem;
    --banner-border-width: 2px;
    --banner-border-style: solid;
    --banner-font-size: --spacing(4);

    --banner-background-color: var(--banner-primary, var(--color-blue-600));
    --banner-color: var(--banner-text-default);
    --banner-border-color: color-mix(in oklch, var(--banner-background-color) 90%, black);
    
    --banner-dark-color: color-mix(in oklch, var(--banner-background-color) 20%, white);
    --banner-dark-border-color: color-mix(in oklch, var(--banner-background-color) 80%, white);

    /* Icon variables */
    --banner-icon-size: calc(var(--banner-font-size) * 1.5);
    --banner-icon-display: inline-flex;
    --banner-icon-flex-shrink: 0;

    --banner-icon-default: var(--banner-icon-info);
    --banner-icon-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z'/%3E%3C/svg%3E");
    --banner-icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z'/%3E%3C/svg%3E");
    --banner-icon-success: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z'/%3E%3C/svg%3E");
    --banner-icon-danger: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m0 3.75h.007M21 12a9 9 0 11-18 0 9 9 0 0118 0z'/%3E%3C/svg%3E");
}

@utility banner {
    display: var(--banner-display);
    align-items: var(--banner-align-items);
    gap: var(--banner-gap);
    padding: calc(var(--banner-font-size) * var(--banner-padding));
    font-size: var(--banner-font-size);
    background-color: var(--banner-background-color);
    color: var(--banner-color);
    border: var(--banner-border-width) var(--banner-border-style) var(--banner-border-color);
    border-radius: var(--banner-border-radius);

    &::before {
        content: "";
        display: var(--banner-icon-display);
        width: var(--banner-icon-size);
        height: var(--banner-icon-size);
        flex-shrink: var(--banner-icon-flex-shrink);
        background-color: currentColor;
        -webkit-mask: var(--banner-icon-default) center / contain no-repeat;
        mask: var(--banner-icon-default) center / contain no-repeat;
        padding-top: 5;
    }

    @variant dark {
        color: var(--banner-dark-color);
        border-color: var(--banner-dark-border-color);
    }

    &.banner-centered {
        flex-direction: column;
        align-items: center;
    }
}

@utility banner-* {
    --banner-icon-size: calc(--value(--banner-font-size-*, [length]) * 1.5);
    --banner-icon-size: calc(--spacing(--value(number)) * 1.5);

    font-size: --value(--banner-font-size-*, [length]);
    font-size: --spacing(--value(number));
    padding: calc(--value(--banner-font-size-*, [length]) * var(--banner-padding));
    padding: calc(--spacing(--value(number)) * var(--banner-padding)); 
    
    background-color: --value(--banner-*, --color-*, [color]);
    border-color: color-mix(in oklch, --value(--banner-*, --color-*, [color]) 90%, black);

    color: --value(--text-for-*, --banner-*-text);

    @variant dark {
        border-color: color-mix(in oklch, --value(--banner-*, --color-*, [color]) 80%, white);;
    }
       
}

@utility icon-* {
    --banner-icon-default: --value(--banner-icon-*);  
}
