@import "tailwindcss";

@theme {
    --form-select-vertical-align: middle;
    --form-select-border-radius: 0.375rem;
    --form-select-padding-x: 0.75rem;
    --form-select-padding-y: 0.375rem;
    --form-select-background-size: 1em;    
    --form-select-background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
    --form-select-background-color: var(--form-background-color, #fff);
    --form-select-background-repeat: var(--form-background-repeat, no-repeat);
    --form-select-background-position: var(--form-background-position, right 0.375rem center);
    --form-select-border-width: var(--form-border-width, 1px);
    --form-select-border-style: var(--form-border-style, solid);
    --form-select-border-color: var(--form-border-color-control-select, oklch(87% 0 0));
    --form-select-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    --form-select-display: var(--form-display, flex);
    --form-select-width: var(--form-width, 100%);
    --form-select-font: var(--from-font, inherit);
    --form-select-font-weight: var(--form-font-weight, 400);
    --form-select-line-height: var(--form-line-height, 1.5rem);
    --form-select-color: var(--color-gray-800, oklch(31.8% 0.014 256.848));
    --form-select-border-width: var(--form-border-width, 1px);
    --form-select-appearance: var(--form-appearance, none);
    --form-select-padding-right: calc(var(--form-select-padding-x, 0.75rem) * 2);
    --form-select-opacity: var(--form-disabled-opacity, 1);

    /* Dark mode */
    --form-select-dark-color: var(--form-dark-color, oklch(98.5% 0.002 247.839));
    --form-select-dark-background-color: var(--form-dark-background-color, oklch(37.1% 0 0));
    --form-select-dark-border-color: var(--form-dark-border-color,  oklch(55.6% 0 0));
    --form-select-dark-background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCcgc3Ryb2tlLXdpZHRoPScxLjUnIHN0cm9rZT0nd2hpdGUnPjxwYXRoIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgZD0nTTE5LjUgOC4yNWwtNy41IDcuNS03LjUtNy41JyAvPjwvc3ZnPg==");

    /* Focus state */
    --form-select-focus-color: var(--form-focus-color, oklch(37.1% 0 0));
    --form-select-focus-background-color: var(--form-focus-background-color, #fff);
    --form-select-focus-border-color: var(--form-focus-border-color, oklch(62.3% 0.214 259.815));
    --form-select-focus-outline: var(--form-focus-outline, 0);
    --form-select-focus-box-shadow-style: var(--form-focus-box-shadow-style, 0 0 0 .2rem);
    --form-select-focus-box-shadow-color: color-mix(in oklch, var(--form-focus-box-shadow-color, oklch(70.7% 0.165 254.624)) 50%, transparent);
    --form-select-focus-dark-border-color: var(--form-focus-dark-border-color, oklch(70.7% 0.165 254.624));
    --form-select-focus-dark-color: var(--form-focus-dark-color, oklch(100% 0.00011 271.152));
    --form-select-focus-dark-background-color: var(--form-dark-background-color, oklch(37.1% 0 0));

    /* MS Value styles (Edge compatibility) */
    --form-select-ms-value-color: var(--color-gray-700, oklch(41.8% 0.01 256.848));
    --form-select-ms-value-background-color: var(--color-white, oklch(100% 0 0));
    --form-select-ms-value-dark-color: var(--color-gray-50, oklch(98.5% 0.002 247.839));
    --form-select-ms-value-dark-background-color: var(--color-neutral-700, oklch(37.1% 0 0));

    /* Multiple/size select styles */
    --form-select-multiple-height: auto;
    --form-select-multiple-padding-right: var(--form-select-padding-x, 0.75rem);
    --form-select-multiple-background-image: none;

    /* Disabled state */
    --form-select-disabled-color: var(--form-disabled-color, oklch(70.8% 0 0));
    --form-select-disabled-border-color: var(--form-disabled-border-color, oklch(70.8% 0 0));
    --form-select-disabled-dark-color: var(--form-disabled-dark-color, oklch(43.9% 0 0));
    --form-select-disabled-dark-background-color: var(--form-disabled-dark-background-color,  oklch(20.5% 0 0));
    --form-select-disabled-dark-border-color: var(--form-disabled-dark-border-color, oklch(20.5% 0 0));

    /* Firefox focus ring removal */
    --form-select-moz-focusring-color: transparent;
    --form-select-moz-focusring-text-shadow: 0 0 0 oklch(31.8% 0.014 256.848);

    /* Invalid/Valid state */
    --form-select-validation-background-size: 1.25em;
    --form-select-validation-background-position: right calc((var(--form-select-line-height) * 1em + var(--form-select-padding-x) * 2) / 4) center;

    /* Plaintext Styles */
    --form-select-plaintext-display: var(--form-plaintext-display, block);
    --form-select-plaintext-outline: var(--form-plaintext-outline, none);    
    --form-select-plaintext-border: var(--form-plaintext-border, none);
    --form-select-plaintext-color: var(--form-plaintext-color, inherit);
    --form-select-plaintext-cursor: var(--form-plaintext-cursor, default);
    --form-select-plaintext-padding-left: var(--form-plaintext-padding-left, 0em);
    --form-select-plaintext-padding-right: var(--form-plaintext-padding-right, 0em);
    --form-select-plaintext-background-image: var(--form-plaintext-background-image, none);  
    --form-select-plaintext-color-focus-dark: inherit;       
    --form-select-plaintext-background-color-dark: inherit;
    --form-select-plaintext-box-shadow-focus: none;
    --form-select-plaintext-background-color-focus-dark: var(--color-neutral-800, oklch(26.9% 0 0));
    --form-select-plaintext-color-disabled: var(--color-neutral-600, oklch(43.9% 0 0));
    --form-select-plaintext-color-disabled-dark: var(--color-neutral-400, oklch(70.8% 0 0));    
}

@utility form-select {
    display: var(--form-select-display);
    width: var(--form-select-width);
    font-family: var(--form-select-font);
    font-weight: var(--form-select-font-weight);
    line-height: var(--form-select-line-height);
    font-size: var(--form-control-font-size);

    &:where(select) {
        padding: var(--form-select-padding-y) var(--form-select-padding-right) var(--form-select-padding-y) var(--form-select-padding-x);
        color: var(--form-select-color);
        vertical-align: var(--form-select-vertical-align);
        background-color: var(--form-select-background-color);
        background-image: var(--form-select-background-image);
        background-repeat: var(--form-select-background-repeat);
        background-position: var(--form-select-background-position);
        background-size: var(--form-select-background-size);
        border-width: var(--form-select-border-width);
        border-style: var(--form-select-border-style);
        border-color: var(--form-select-border-color);
        border-radius: calc(var(--form-control-font-size) / 4);
        transition: var(--form-select-transition);
        appearance: var(--form-select-appearance);
        opacity: var(--form-select-opacity);

        @variant dark {
            color: var(--form-select-dark-color);
            background-color: var(--form-select-dark-background-color);
            border-color: var(--form-select-dark-border-color);
            background-image: var(--form-select-dark-background-image);
        }

        &:focus {
            color: var(--form-select-focus-color);
            background-color: var(--form-select-focus-background-color);
            border-color: var(--form-select-focus-border-color);
            outline: var(--form-select-focus-outline);
            box-shadow: var(--form-select-focus-box-shadow-style) var(--form-select-focus-box-shadow-color);

            @variant dark {
                color: var(--form-select-focus-dark-color);
                background-color: var(--form-select-focus-dark-background-color);            
                border-color: var(--form-select-focus-dark-border-color);
            }
        }

        &::-ms-value {
            color: var(--form-select-ms-value-color);
            background-color: var(--form-select-ms-value-background-color);

            @variant dark {
                color: var(--form-select-ms-value-dark-color);
                background-color: var(--form-select-ms-value-dark-background-color);
            }
        }

        &[multiple],
        &[size]:not([size="1"]) {
            height: var(--form-select-multiple-height);
            padding-right: var(--form-select-multiple-padding-right);
            background-image: var(--form-select-multiple-background-image);
        }

        &:disabled:not([readonly]) {
            border-color: var(--form-select-disabled-border-color);
            color: var(--form-select-disabled-color);

            @variant dark {
                color: var(--form-select-disabled-dark-color);
                background-color: var(--form-select-disabled-dark-background-color);
                border-color: var(--form-select-disabled-dark-border-color);
            }
        }

        &:-moz-focusring {
            color: var(--form-select-moz-focusring-color);
            text-shadow: var(--form-select-moz-focusring-text-shadow);
        }

        &.is-invalid,
        &[invalid] {
            border-color: var(--invalid-color);
            background-color: var(--invalid-background-color);
            color: var(--invalid-color);
            background-image: var(--invalid-background-image);
            background-repeat: var(--form-select-background-repeat);
            background-position: var(--form-select-validation-background-position);
            background-size: var(--form-select-validation-background-size);

            &:focus,
            &.focus {
                box-shadow: var(--invalid-box-shadow);
                border-color: var(--invalid-color);
                color: var(--invalid-color);
                background-color: var(--invalid-background-color);
            }
        }

        &.is-valid,
        &[valid] {
            border-color: var(--valid-color);
            background-color: var(--valid-background-color);
            color: var(--valid-color);
            background-image: var(--valid-background-image);
            background-repeat: var(--form-select-background-repeat);
            background-position: var(--form-select-validation-background-position);
            background-size: var(--form-select-validation-background-size);

            &:focus,
            &.focus {
                box-shadow: var(--valid-box-shadow);
                border-color: var(--valid-color);
                color: var(--valid-color);
                background-color: var(--valid-background-color);
            }
        }
    }
}

@utility form-select-* {
    --form-select-focus-box-shadow-color: color-mix(in oklch, --value(--color-*, [color]) 50%, transparent);

    font-size: --value(--form-control-font-size-*, [length]);
    font-size: --spacing(--value(number));
    
    &:where(select) {
        padding: calc(--value(--form-control-font-size-*, [length]) * .75 / 2) calc(--value(--form-control-font-size-*, [length]) * .75);
        padding: calc(--spacing(--value(number)) * .75 / 2) calc(--spacing(--value(number)) * .75);
        border-radius: calc(--value(--form-control-font-size-*, [length]) / 4);
        border-radius: calc(--spacing(--value(number)) / 4);
        background-size: --value(--form-select-background-size-*);
        background-color: color-mix(in oklch, --value(--color-*, [color]) 10%, transparent);
        border-color: --value(--color-*, [color]);
        /*color: --value(--color-*, [color]); <--Use this to change color of text to match box color*/
        
        &:focus {
            background-color: color-mix(in oklch, --value(--color-*, [color]) 10%, transparent);
            border-color: --value(--color-*, [color]);
            /*color: --value(--color-*, [color]); <--Use this to change color of text in menu*/
        }

        &.form-control-icon {
            padding-left: calc(--value(--form-control-font-size-*, [length]) * 2);
            padding-left: calc(--spacing(--value(number)) * 2);
        }
    }

    &.has-icon { 
        &:where(select) {
            padding: 0rem;
        }

        .form-control-icon {
            padding-left: calc(--value(--form-control-font-size-*, [length]) * 2);
            padding-left: calc(--spacing(--value(number)) * 2);
        }
    }
}

@utility form-select-plaintext {
    display: var(--form-select-plaintext-display);
    outline: var(--form-select-plaintext-outline);
    width: var(--form-select-width);
    background-image: var(--form-select-plaintext-background-image);
    border: var(--form-select-plaintext-border);    
    color: var(--form-select-plaintext-color);
    padding-left: var(--form-select-plaintext-padding-left);
    padding-right: var(--form-select-plaintext-padding-right);  
    cursor: var(--form-select-plaintext-cursor);

    @variant dark {
        background-color: var(--form-select-plaintext-background-color-dark);
    }

    &:focus {
        box-shadow: var(--form-select-plaintext-box-shadow-focus);

        @variant dark {
            color: var(--form-select-plaintext-color-focus-dark);
            background-color: var(--form-select-plaintext-background-color-focus-dark);
        }
    }

    &:disabled {
        color: var(--form-select-plaintext-color-disabled);

        @variant dark {
            color: var(--form-select-plaintext-color-disabled-dark);
        }
    }
}