@theme{
    --badge-font-size-xs: --spacing(1.75);
    --badge-font-size-sm: --spacing(2.75);
    --badge-font-size-md: --spacing(3.75);
    --badge-font-size-lg: --spacing(4.75);
    --badge-font-size-xl: --spacing(5.75);
    --badge-font-size-2xl: --spacing(6.75);
    --badge-font-size-3xl: --spacing(7.75);
    --badge-font-size-4xl: --spacing(8.75);
    --badge-font-size-5xl: --spacing(9.75);
}