@theme {
    --pagination-background-color-primary: var(--color-primary, var(--color-blue-500));
    --pagination-background-color-secondary: var(--color-secondary, var(--color-gray-500));
    --pagination-background-color-success: var(--color-success, var(--color-green-500));
    --pagination-background-color-danger: var(--color-danger, var(--color-red-700));
    --pagination-background-color-warning: var(--color-warning, var(--color-amber-500));
    --pagination-background-color-info: var(--color-info, var(--color-teal-400));

    --pagination-background-color-light: var(--color-light, var(--color-gray-100));
    --pagination-color-light: var(--color-black, #fff);
    
    --pagination-background-color-dark: var(--color-dark, var(--color-gray-800));
 
    /* Grays */
    --text-for-gray-50: var(--color-black, black);
    --text-for-gray-100: var(--color-black, black);
    --text-for-gray-200: var(--color-black, black);
    --text-for-gray-300: var(--color-black, black);
    --text-for-gray-400: var(--color-white, white);
    --text-for-gray-500: var(--color-white, white);
    --text-for-gray-600: var(--color-white, white);
    --text-for-gray-700: var(--color-white, white);
    --text-for-gray-800: var(--color-white, white);
    --text-for-gray-900: var(--color-white, white);
    --text-for-gray-950: var(--color-white, white);

    /* Slate */
    --text-for-slate-50: var(--color-black, black);
    --text-for-slate-100: var(--color-black, black);
    --text-for-slate-200: var(--color-black, black);
    --text-for-slate-300: var(--color-black, black);
    --text-for-slate-400: var(--color-white, white);
    --text-for-slate-500: var(--color-white, white);
    --text-for-slate-600: var(--color-white, white);
    --text-for-slate-700: var(--color-white, white);
    --text-for-slate-800: var(--color-white, white);
    --text-for-slate-900: var(--color-white, white);
    --text-for-slate-950: var(--color-white, white);

    /* Zinc */
    --text-for-zinc-50: var(--color-black, black);
    --text-for-zinc-100: var(--color-black, black);
    --text-for-zinc-200: var(--color-black, black);
    --text-for-zinc-300: var(--color-black, black);
    --text-for-zinc-400: var(--color-white, white);
    --text-for-zinc-500: var(--color-white, white);
    --text-for-zinc-600: var(--color-white, white);
    --text-for-zinc-700: var(--color-white, white);
    --text-for-zinc-800: var(--color-white, white);
    --text-for-zinc-900: var(--color-white, white);
    --text-for-zinc-950: var(--color-white, white);

    /* Neutral */
    --text-for-neutral-50: var(--color-black, black);
    --text-for-neutral-100: var(--color-black, black);
    --text-for-neutral-200: var(--color-black, black);
    --text-for-neutral-300: var(--color-black, black);
    --text-for-neutral-400: var(--color-white, white);
    --text-for-neutral-500: var(--color-white, white);
    --text-for-neutral-600: var(--color-white, white);
    --text-for-neutral-700: var(--color-white, white);
    --text-for-neutral-800: var(--color-white, white);
    --text-for-neutral-900: var(--color-white, white);
    --text-for-neutral-950: var(--color-white, white);

    /* Stone */
    --text-for-stone-50: var(--color-black, black);
    --text-for-stone-100: var(--color-black, black);
    --text-for-stone-200: var(--color-black, black);
    --text-for-stone-300: var(--color-black, black);
    --text-for-stone-400: var(--color-white, white);
    --text-for-stone-500: var(--color-white, white);
    --text-for-stone-600: var(--color-white, white);
    --text-for-stone-700: var(--color-white, white);
    --text-for-stone-800: var(--color-white, white);
    --text-for-stone-900: var(--color-white, white);
    --text-for-stone-950: var(--color-white, white);

    /* Red */
    --text-for-red-50: var(--color-black, black);
    --text-for-red-100: var(--color-black, black);
    --text-for-red-200: var(--color-black, black);
    --text-for-red-300: var(--color-black, black);
    --text-for-red-400: var(--color-white, white);
    --text-for-red-500: var(--color-white, white);
    --text-for-red-600: var(--color-white, white);
    --text-for-red-700: var(--color-white, white);
    --text-for-red-800: var(--color-white, white);
    --text-for-red-900: var(--color-white, white);
    --text-for-red-950: var(--color-white, white);

    /* Orange */
    --text-for-orange-50: var(--color-black, black);
    --text-for-orange-100: var(--color-black, black);
    --text-for-orange-200: var(--color-black, black);
    --text-for-orange-300: var(--color-black, black);
    --text-for-orange-400: var(--color-white, white);
    --text-for-orange-500: var(--color-white, white);
    --text-for-orange-600: var(--color-white, white);
    --text-for-orange-700: var(--color-white, white);
    --text-for-orange-800: var(--color-white, white);
    --text-for-orange-900: var(--color-white, white);
    --text-for-orange-950: var(--color-white, white);

    /* Amber */
    --text-for-amber-50: var(--color-black, black);
    --text-for-amber-100: var(--color-black, black);
    --text-for-amber-200: var(--color-black, black);
    --text-for-amber-300: var(--color-black, black);
    --text-for-amber-400: var(--color-white, white);
    --text-for-amber-500: var(--color-white, white);
    --text-for-amber-600: var(--color-white, white);
    --text-for-amber-700: var(--color-white, white);
    --text-for-amber-800: var(--color-white, white);
    --text-for-amber-900: var(--color-white, white);
    --text-for-amber-950: var(--color-white, white);

    /* Yellow */
    --text-for-yellow-50: var(--color-black, black);
    --text-for-yellow-100: var(--color-black, black);
    --text-for-yellow-200: var(--color-black, black);
    --text-for-yellow-300: var(--color-black, black);
    --text-for-yellow-400: var(--color-white, white);
    --text-for-yellow-500: var(--color-white, white);
    --text-for-yellow-600: var(--color-white, white);
    --text-for-yellow-700: var(--color-white, white);
    --text-for-yellow-800: var(--color-white, white);
    --text-for-yellow-900: var(--color-white, white);
    --text-for-yellow-950: var(--color-white, white);

    /* Lime */
    --text-for-lime-50: var(--color-black, black);
    --text-for-lime-100: var(--color-black, black);
    --text-for-lime-200: var(--color-black, black);
    --text-for-lime-300: var(--color-black, black);
    --text-for-lime-400: var(--color-white, white);
    --text-for-lime-500: var(--color-white, white);
    --text-for-lime-600: var(--color-white, white);
    --text-for-lime-700: var(--color-white, white);
    --text-for-lime-800: var(--color-white, white);
    --text-for-lime-900: var(--color-white, white);
    --text-for-lime-950: var(--color-white, white);

    /* Green */
    --text-for-green-50: var(--color-black, black);
    --text-for-green-100: var(--color-black, black);
    --text-for-green-200: var(--color-black, black);
    --text-for-green-300: var(--color-black, black);
    --text-for-green-400: var(--color-white, white);
    --text-for-green-500: var(--color-white, white);
    --text-for-green-600: var(--color-white, white);
    --text-for-green-700: var(--color-white, white);
    --text-for-green-800: var(--color-white, white);
    --text-for-green-900: var(--color-white, white);
    --text-for-green-950: var(--color-white, white);

    /* Emerald */
    --text-for-emerald-50: var(--color-black, black);
    --text-for-emerald-100: var(--color-black, black);
    --text-for-emerald-200: var(--color-black, black);
    --text-for-emerald-300: var(--color-black, black);
    --text-for-emerald-400: var(--color-white, white);
    --text-for-emerald-500: var(--color-white, white);
    --text-for-emerald-600: var(--color-white, white);
    --text-for-emerald-700: var(--color-white, white);
    --text-for-emerald-800: var(--color-white, white);
    --text-for-emerald-900: var(--color-white, white);
    --text-for-emerald-950: var(--color-white, white);

    /* Teal */
    --text-for-teal-50: var(--color-black, black);
    --text-for-teal-100: var(--color-black, black);
    --text-for-teal-200: var(--color-black, black);
    --text-for-teal-300: var(--color-black, black);
    --text-for-teal-400: var(--color-white, white);
    --text-for-teal-500: var(--color-white, white);
    --text-for-teal-600: var(--color-white, white);
    --text-for-teal-700: var(--color-white, white);
    --text-for-teal-800: var(--color-white, white);
    --text-for-teal-900: var(--color-white, white);
    --text-for-teal-950: var(--color-white, white);

    /* Cyan */
    --text-for-cyan-50: var(--color-black, black);
    --text-for-cyan-100: var(--color-black, black);
    --text-for-cyan-200: var(--color-black, black);
    --text-for-cyan-300: var(--color-black, black);
    --text-for-cyan-400: var(--color-white, white);
    --text-for-cyan-500: var(--color-white, white);
    --text-for-cyan-600: var(--color-white, white);
    --text-for-cyan-700: var(--color-white, white);
    --text-for-cyan-800: var(--color-white, white);
    --text-for-cyan-900: var(--color-white, white);
    --text-for-cyan-950: var(--color-white, white);

    /* Sky */
    --text-for-sky-50: var(--color-black, black);
    --text-for-sky-100: var(--color-black, black);
    --text-for-sky-200: var(--color-black, black);
    --text-for-sky-300: var(--color-black, black);
    --text-for-sky-400: var(--color-white, white);
    --text-for-sky-500: var(--color-white, white);
    --text-for-sky-600: var(--color-white, white);
    --text-for-sky-700: var(--color-white, white);
    --text-for-sky-800: var(--color-white, white);
    --text-for-sky-900: var(--color-white, white);
    --text-for-sky-950: var(--color-white, white);

    /* Blue */
    --text-for-blue-50: var(--color-black, black);
    --text-for-blue-100: var(--color-black, black);
    --text-for-blue-200: var(--color-black, black);
    --text-for-blue-300: var(--color-black, black);
    --text-for-blue-400: var(--color-black, black);
    --text-for-blue-500: var(--color-white, white);
    --text-for-blue-600: var(--color-white, white);
    --text-for-blue-700: var(--color-white, white);
    --text-for-blue-800: var(--color-white, white);
    --text-for-blue-900: var(--color-white, white);
    --text-for-blue-950: var(--color-white, white);

    /* Indigo */
    --text-for-indigo-50: var(--color-black, black);
    --text-for-indigo-100: var(--color-black, black);
    --text-for-indigo-200: var(--color-black, black);
    --text-for-indigo-300: var(--color-black, black);
    --text-for-indigo-400: var(--color-white, white);
    --text-for-indigo-500: var(--color-white, white);
    --text-for-indigo-600: var(--color-white, white);
    --text-for-indigo-700: var(--color-white, white);
    --text-for-indigo-800: var(--color-white, white);
    --text-for-indigo-900: var(--color-white, white);
    --text-for-indigo-950: var(--color-white, white);

    /* Violet */
    --text-for-violet-50: var(--color-black, black);
    --text-for-violet-100: var(--color-black, black);
    --text-for-violet-200: var(--color-black, black);
    --text-for-violet-300: var(--color-white, white);
    --text-for-violet-400: var(--color-white, white);
    --text-for-violet-500: var(--color-white, white);
    --text-for-violet-600: var(--color-white, white);
    --text-for-violet-700: var(--color-white, white);
    --text-for-violet-800: var(--color-white, white);
    --text-for-violet-900: var(--color-white, white);
    --text-for-violet-950: var(--color-white, white);

    /* Purple */
    --text-for-purple-50: var(--color-black, black);
    --text-for-purple-100: var(--color-black, black);
    --text-for-purple-200: var(--color-black, black);
    --text-for-purple-300: var(--color-white, white);
    --text-for-purple-400: var(--color-white, white);
    --text-for-purple-500: var(--color-white, white);
    --text-for-purple-600: var(--color-white, white);
    --text-for-purple-700: var(--color-white, white);
    --text-for-purple-800: var(--color-white, white);
    --text-for-purple-900: var(--color-white, white);
    --text-for-purple-950: var(--color-white, white);

    /* Fuchsia */
    --text-for-fuchsia-50: var(--color-black, black);
    --text-for-fuchsia-100: var(--color-black, black);
    --text-for-fuchsia-200: var(--color-black, black);
    --text-for-fuchsia-300: var(--color-white, white);
    --text-for-fuchsia-400: var(--color-white, white);
    --text-for-fuchsia-500: var(--color-white, white);
    --text-for-fuchsia-600: var(--color-white, white);
    --text-for-fuchsia-700: var(--color-white, white);
    --text-for-fuchsia-800: var(--color-white, white);
    --text-for-fuchsia-900: var(--color-white, white);
    --text-for-fuchsia-950: var(--color-white, white);

    /* Pink */
    --text-for-pink-50: var(--color-black, black);
    --text-for-pink-100: var(--color-black, black);
    --text-for-pink-200: var(--color-black, black);
    --text-for-pink-300: var(--color-black, black);
    --text-for-pink-400: var(--color-white, white);
    --text-for-pink-500: var(--color-white, white);
    --text-for-pink-600: var(--color-white, white);
    --text-for-pink-700: var(--color-white, white);
    --text-for-pink-800: var(--color-white, white);
    --text-for-pink-900: var(--color-white, white);
    --text-for-pink-950: var(--color-white, white);

    /* Rose */
    --text-for-rose-50: var(--color-black, black);
    --text-for-rose-100: var(--color-black, black);
    --text-for-rose-200: var(--color-black, black);
    --text-for-rose-300: var(--color-black, black);
    --text-for-rose-400: var(--color-white, white);
    --text-for-rose-500: var(--color-white, white);
    --text-for-rose-600: var(--color-white, white);
    --text-for-rose-700: var(--color-white, white);
    --text-for-rose-800: var(--color-white, white);
    --text-for-rose-900: var(--color-white, white);
    --text-for-rose-950: var(--color-white, white);

    /* Black and White */
    --text-for-black: var(--color-white, white);
    --text-for-white: var(--color-black, black);
}