@theme {
    --badge-display: inline-flex;
    --badge-align-items: stretch;
    --badge-justify-content: space-between;
    --badge-overflow: hidden;
    --badge-text-decoration: none;
    --badge-gap: calc(1em * var(--badge-padding-x) / 2);
    --badge-border-radius: --spacing(1);
    --badge-font-size: --spacing(4);
    --badge-color: var(--badge-text-default);
    --badge-background-color: var(--badge-primary);
    --badge-padding-y: .25;
    --badge-padding-x: .350;
    --badge-padding-top: calc(1em * var(--badge-padding-y));
    --badge-padding-bottom: calc(1em * var(--badge-padding-y));
    --badge-padding-left: calc(1em * var(--badge-padding-x));
    --badge-padding-right: calc(1em * var(--badge-padding-x));
    
    --badge-close-cursor: pointer;
    --badge-close-align-items: center;
    --badge-close-justify-content: center;
    --badge-close-dark-hover-color: var(--badge-color);
    --badge-close-icon-width: 1em;
    --badge-close-icon-height: 1em;

    --badge-inner-display: inline-flex;
    --badge-inner-align-items: center;
    --badge-inner-justify-content: start;

    /* badge-outline variables */
    --badge-outline-background-color: transparent;
    --badge-outline-color:  var(--badge-primary, var(--color-blue-600));
}

@utility badge {
    display: var(--badge-display);
    align-items: var(--badge-align-items);
    justify-content: var(--badge-justify-content);
    font-size: var(--badge-font-size);
    color: var(--badge-color);
    background-color: var(--badge-background-color);
    border-radius: var(--badge-border-radius);
    text-decoration: var(--badge-text-decoration);
    overflow: var(--badge-overflow);
    gap: var(--badge-gap);

    &.close-left {
        .badge-close {
            order: -1;
            padding-left: calc(var(--badge-padding-left) / 2.5);
            padding-right: calc(var(--badge-padding-right) / 2.5);
        }

        .badge-inner {
            padding-left: 0;
            padding-right: var(--badge-padding-right);
        }
    }

    .badge-close {
        display: var(--badge-inner-display);
        line-height: var(--badge-font-size);
        cursor: var(--badge-close-cursor);
        justify-content: var(--badge-close-justify-content);
        align-items: var(--badge-close-align-items);
        padding-left: calc(var(--badge-padding-left) / 3.5);
        padding-right: calc(var(--badge-padding-right) / 3.5);
        padding-top: var(--badge-padding-top);
        padding-bottom: var(--badge-padding-bottom);

        & svg,
        & > :first-child {
            width: var(--badge-close-icon-width);
            height: var(--badge-close-icon-height);
        }

        &:hover {
            background-color: color-mix(in oklch, var(--badge-background-color) 90%, black);
        }
    }
}

@utility badge-inner {
    display: var(--badge-inner-display);
    align-items: var(--badge-inner-align-items);
    justify-content: var(--badge-inner-justify-content);
    line-height: var(--badge-font-size);
    padding-top: var(--badge-padding-top);
    padding-bottom: var(--badge-padding-bottom);
    padding-left: var(--badge-padding-left);
    padding-right: var(--badge-padding-right);
    flex-grow: 1;

    &:not(:last-child) {
        padding-right: 0;
    }
}

@utility badge-outline {
    background-color: var(--badge-outline-background-color);
    color: var(--badge-outline-color);
    border: 1px solid var(--badge-outline-color);

    .badge-close:hover {
        background-color: color-mix(in oklch, var(--badge-background-color, oklch(54.6% 0.245 262.881)) 10%, white);
        
        @variant dark {
            background-color: var(--badge-background-color);
            color: var(--badge-close-dark-hover-color);
        }
    }
}

@utility badge-pill {
    border-radius: 100px; 
}

@utility badge-* {
    --badge-font-size: --value(--badge-font-size-*, [length]);
    --badge-font-size: --spacing(--value(number));
    --badge-close-icon-size: calc(--value(--badge-font-size-*) * 0.75);
    --badge-close-icon-size: calc(--spacing(--value(number)) * 0.75);
        
    border-radius: calc(var(--badge-font-size) * .25);
    
    background-color: --value(--badge-*, --color-*, [color]);
    color: --value(--badge-*-text, --text-for-*);

    .badge-close:hover {
        background-color: color-mix(in oklch, --value(--badge-*, --color-*, [color]) 90%, black);
    }
}

@utility badge-outline-* {
    background-color: var(--badge-outline-background-color);
    color: --value(--badge-*, --color-*, [color]);
    border: 1px solid --value(--badge-*, --color-*, [color]);

    .badge-close:hover {
        background-color: color-mix(in oklch, --value(--badge-*, --color-*, [color]) 10%, white);

        @variant dark {
            background-color: --value(--badge-*, --color-*, [color]);
            color: --value(--badge-*-text, --text-for-*);
        }
    }
}