@theme {
    /* badge variables */
    --badge-display: inline-flex;
    --badge-align-items: stretch;
    --badge-justify-content: space-between;

    --badge-padding-y: .25;
    --badge-padding-x: .350;

    --badge-inner-display: inline-flex;
    --badge-inner-align-items: center;

    --badge-border-radius: --spacing(1);
    --badge-font-size: --spacing(4);
    
    /* Use em units for derivative variables to ensure relative scaling */
    --badge-padding-top: calc(1em * var(--badge-padding-y));
    --badge-padding-bottom: calc(1em * var(--badge-padding-y));
    --badge-padding-left: calc(1em * var(--badge-padding-x));
    --badge-padding-right: calc(1em * var(--badge-padding-x));
    --badge-gap: calc(1em * var(--badge-padding-x) / 2);
    
    --badge-color: var(--badge-text-default);
    --badge-background-color: var(--badge-primary);
    --badge-hover-color: black;
    --badge-hover-mix-percentage: 90%;
    --badge-close-hover-color: var(--badge-color);
    --badge-close-icon-size: 0.75em;

    /* badge-outline variables */
    --badge-outline-background-color: transparent;
    --badge-outline-color:  var(--badge-primary, var(--color-blue-600));
}

@utility badge {
    display: var(--badge-display);
    align-items: var(--badge-align-items);
    justify-content: var(--badge-justify-content);
    font-size: var(--badge-font-size);
    color: var(--badge-color);
    background-color: var(--badge-background-color);
    border-radius: var(--badge-border-radius);
    text-decoration: none;
    overflow: hidden;
    gap: var(--badge-gap);

    &.close-left {
        .badge-close {
            order: -1;
            padding-left: calc(var(--badge-padding-left) / 2.5);
            padding-right: calc(var(--badge-padding-right) / 2.5);
        }

        .badge-inner {
            padding-left: 0;
            padding-right: var(--badge-padding-right);
        }
    }

    .badge-close {
        padding-left: calc(var(--badge-padding-left) / 3.5);
        padding-right: calc(var(--badge-padding-right) / 3.5);
        padding-top: var(--badge-padding-top);
        padding-bottom: var(--badge-padding-bottom);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: center;
        line-height: 1;

        & svg,
        & > :first-child {
            display: block;
            width: var(--badge-close-icon-size);
            height: var(--badge-close-icon-size);
        }

        &:hover {
            background-color: color-mix(in oklch, var(--badge-background-color) 90%, black);
        }
    }
}

@utility badge-inner {
    display: var(--badge-inner-display);
    align-items: center;
    justify-content: start;
    font-size: inherit;
    line-height: 1;
    padding-top: var(--badge-padding-top);
    padding-bottom: var(--badge-padding-bottom);
    padding-left: var(--badge-padding-left);
    padding-right: var(--badge-padding-right);
    flex-grow: 1;

    &:not(:last-child) {
        padding-right: 0;
    }
}

@utility badge-outline {
    background-color: var(--badge-outline-background-color);
    color: var(--badge-outline-color);
    border: 1px solid var(--badge-outline-color);

    .badge-close:hover {
        background-color: color-mix(in oklch, var(--badge-background-color, oklch(54.6% 0.245 262.881)) 10%, white);
        
        @variant dark {
            background-color: var(--badge-background-color);
            color: var(--badge-close-hover-color);
        }
    }
}

@utility badge-* {
    --badge-font-size: --value(--badge-font-size-*, [length]);
    --badge-font-size: --spacing(--value(number));
        
    border-radius: calc(var(--badge-font-size) * .25);
    
    background-color: --value(--badge-*, --color-*, [color]);
    color: --value(--badge-*-text, --text-for-*);

    .badge-close:hover {
        background-color: color-mix(in oklch, --value(--badge-*, --color-*, [color]) 90%, black);
    }
}

@utility badge-outline-* {
    background-color: var(--badge-outline-background-color);
    color: --value(--badge-*, --color-*, [color]);
    border: 1px solid --value(--badge-*, --color-*, [color]);

    .badge-close:hover {
        background-color: color-mix(in oklch, --value(--badge-*, --color-*, [color]) 10%, white);

        @variant dark {
            background-color: --value(--badge-*, --color-*, [color]);
            color: --value(--badge-*-text, --text-for-*);
        }
    }
}